* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #faeed2;
  font-family: Arial, Helvetica, sans-serif;
}

.encabezado {
  background-color: #f94144;
  height: 100px;
}

.encabezado img {
  width: 80%;
  height: 100px;
  padding: 0px 80px;
  }

.contenedor-logo {
    float: left;
  }

.encabezado .logo {

  width: 55px;
  height: 30px;
  margin: 30px 30px;
  padding: 0px;

  }

 .contenedor-menu {
  float: right;
 } 

.contenedorimagen {
  width: 50%;
  display: flex;
}

.gif {
  width: 100%;
  flex: 1;

}

.btn {
  text-decoration: none;
  padding: 20px;
  margin: -10px 50px;
  font-family: helvetica;
  font-weight: 300;
  font-size: 25px;
  font-style: italic;
  color: #fff;
  background-color: #f8a426;
  border-radius: 15px;
  border: 8px black;
}

/* pseudoclase que cambia el color al mover el ratón */
.btn:hover {
  background-color: lightblue;
}

.btnCerrar {
  margin: 30px 20px;
}

#container {
  width: 80%;
  margin: 0px auto;
}

#content {
  width: 100%;
  min-height: 360px;
  color: white;
  margin-top: 30px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  text-align: left;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: black;
  /*color: rgb(29, 160, 149);/*
  /* margin: 40px; */
}

p {
  padding: 40px;
  color: rgb(105, 102, 102);
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
}

aside {
  /* margin: 25px auto; */
  text-align: center;
}

.showResult,
.foro {
  display: none;
}

/* caja contenedora de todas las cartas pokemones , con flexbox*/
.pokemones {
  background-color: tomato;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* cartas pokemones */
.card {
  position: relative;
  transition: 0.3s ease all;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background-color: rgb(189, 243, 225);
    margin-bottom: 30px;
    width: 23%;
    flex: none;
    justify-content: center;
    align-items: center;
    border: 5px white dashed;
    border-radius: 5px;
  }


.card > div {

  background-color: rgb(189, 243, 225);
  margin-bottom: 30px;
  width: 23%;
  flex: none;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: relative;
  transition: 0.3s ease all;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

/* pseudoclase que cambia el color al hacer click en las cartas */
.card:hover {
  background-color: lightpink;
  transform: rotateY(180deg);
}

/* pseudoclase que cambia el primer párrafo dentro del div card*/
.card .frente p:first-child {
  color: rgb(226, 69, 90);
  font-size: 25px;
  font: inherit;
  font-family: "Noto Sans", sans-serif;
}

/* estilo para párrafos de las cartas */
.card p {
  padding: 20px 0 0 0;
  color: rgb(248, 8, 196);
  font-size: 15px;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}

/* las informaciones de la carta quedan ocultas, pero al hacer click se muestra en pantalla */
.card .reverso {
  display: none;
}

.showResult {
  display: none;
}

.card h2 {
  text-align: center;
  margin: 0 500px;
}

footer {
  margin: 0px;
  width: 100%;
  background: #f94144;
  color: white;
  text-align: center;
  height: 50px;
  position: relative;
  bottom: 0;
}
.pokebola {
  width: 50px;
  height: 30px;
}

@media (max-width: 1024px) {
  header,
  #container,
  footer,
  #content {
    width: 100%;
  }
  .btn {
    width: 50%;
    margin: 15px;
  }
  .encabezado img {
    width: 300px;
    padding: 0px 40px;
  }
  .pokebola {
    display: none;
  }
}

/* media query para celulares */
@media (max-width: 790px) {
  .encabezado img {
    padding: 0px 20px;
  }
  .card {
    flex-direction: column;
    width: 100%;
  }
}


