* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #fff;
  font-family: "Ubuntu", sans-serif;
}

.encabezado {
  background-color: rgb(127, 248, 202);
  height: 100px;
}

.encabezado img {
  height: 100px;
  padding: 0px 80px;
}

.encabezado .logo {
  width: 40px;
  height: 100%;
  margin: 30px;
  padding: 0px;
}

.contenedor-menu {
  margin-top: -100px;
  float: right;
}

.contenedorimagen {
  width: 50%;
  margin: 0 auto;
}

.gif {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

h3 {
  margin-top: 30px;
  font-size: 40px;
  text-align: center;
  color: rgb(65, 65, 65);
}
.control {
  color: #386ccc;
  background: #fff;
  border-radius: 20px;
  padding: 10px;
  border: 2px #09427a solid;
}

::placeholder {
  color: #386ccc;
  padding: 5px;
}

aside {
  text-align: center;
}

.btn {
  text-decoration: none;
  padding: 20px;
  margin: -10px 50px;
  font-weight: 300;
  font-size: 25px;
  color: #fff;
  background-color: #106ecc;
  border-radius: 15px;
  border: 8px black;
}

/* pseudoclase que cambia el color al mover el ratón */
.btn:hover {
  background-color: lightblue;
}

.btnCerrar {
  margin: 30px 20px;
}

#container {
  width: 80%;
  margin: 0px auto;
}

#content {
  width: 100%;
  min-height: 360px;
  color: white;
  margin-top: 30px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  text-align: justify;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: rgb(65, 65, 65);
  /* margin: 40px; */
}

p {
  padding: 30px;
  color: rgb(105, 102, 102);
  font-size: 20px;
}

.showResult,
.foro {
  display: none;
}

#contenedorFiltros {
  margin: 20px 0;
  text-align: center;
}

#contenedorPokemones {
  padding-left: 24px;
  padding-right: 24px;
}

/* caja contenedora de todas las cartas pokemones , con flexbox*/
.pokemones {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
}

/* caja contenedora del espacio de cada carta pokemon */
.card-container {
  display: grid;
  perspective: 700px;
  padding: 10px;
}

/* caja contenedora de carta pokemon*/
.card {
  align-items: center;
  width: 300px;
  height: 350px;
  position: relative;
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.picture {
  padding-top: 30px;
}

.front,
.back {
  width: 100%;
  height: 100%;
  border: 5px white solid;
  border-radius: 20px;
}
.strong {
  color: rgb(4, 112, 235);
}

.headband {
  background-color: #386ccc;
  color: white !important;
  margin-top: 40px;
  padding-bottom: 20px !important;
}
/* caja contenedora de la parte delantera de la carta pokemon*/
.front {
  background-image: url(./img/fondoo.png);
  grid-area: frontAndBack;
}

/* caja contenedora de la parte trasera de la carta pokemon*/
.back {
  background-color: rgb(165, 217, 241);
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

/* pseudoclase que cambia el primer párrafo dentro del div card*/
.card .card-title {
  padding-top: 20px;
  color: #386ccc;
  font-size: 25px;
}

.back p:first-child {
  color: rgb(105, 102, 102);
}

/* estilo para párrafos de las cartas */
.card p {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 20px 0 0 0;
  color: rgb(105, 102, 102);
  font-size: 15px;
  text-align: center;
}

.showResult {
  display: none;
}

footer {
  margin-top: 50px;
  width: 100%;
  background: rgb(127, 248, 202);
  color: rgb(105, 102, 102);
  text-align: center;
  height: 50px;
  position: relative;
  bottom: 0;
  padding-top: 20px;
}

/* media query para celulares */
@media (max-width: 691px) {
  header,
  #container,
  footer,
  #content {
    width: 100%;
  }

  .control,
  .btn {
    width: 60%;
    margin: 15px;
    display: block;
    margin: 5px auto;
    padding: 20px 0;
  }

  .encabezado img {
    width: 300px;
    padding: 0px 20px;
  }

  .card {
    flex-direction: column;
  }

  .contenedor-menu {
    display: none;
  }
}
